@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .layout-content-navbar .content-wrapper {
        background-size : cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(to right,#0008,#0008 ), url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg_I2OLvFqokBwZC-kgQzTd-s_ylUtZTZnaPbwYLqvcCHkNWfJXxKhcHZ_r01GqJvbLC4OPvYRw-2YB4W1PZsyxMqujYSmKdfHZTAeFr11w4GqBNjOSQBWMjqAEWNwuhzG-E98Z31t8Xh98S37IO1X-vgzNOzkyB0uxwBsfgDRS1VLwaq6exSg2iqVPKA/w532-h299/Thi%E1%BA%BFt%20k%E1%BA%BF%20ch%C6%B0a%20c%C3%B3%20t%C3%AAn%20(11).png');
    }
</style>
<div class="row">
    <div class="col-lg-8 mb-4 order-0">
        <div class="card">
            <div class="d-flex align-items-end row">
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title text-primary"> Đại học Thủ Dầu Một 🎉</h5>
                        <p class="mb-4">
                            Hệ thống quản lí đề tài báo cáo tốt nghiệp <br />
                        </p>

                       
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 order-1">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">

                        </div>
                        <span class="fw-semibold d-block mb-1">Tổng số báo cáo</span>
                        <h3 class="card-title mb-2 text-center">@ViewBag.tongbaocao</h3>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">

                        </div>
                        <span class="fw-semibold d-block mb-1">Tổng số tài khoản</span>
                        <h3 class="card-title mb-2 text-center">@ViewBag.tongtaikhoan</h3>

                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-12 col-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                        </div>
                        <span class="fw-semibold d-block mb-1">Tổng số lượt xem</span>
                        <h3 class="card-title mb-2 text-center">@ViewBag.totalView</h3>

                    </div>
                </div>

            </div>

            <div class="col-lg-6 col-md-12 col-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                        </div>
                        <span class="fw-semibold d-block mb-1">Số lượt tải xuống</span>
                        <h3 class="card-title mb-2 text-center">@ViewBag.totalDown</h3>

                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- Total Revenue -->
    
        </div>

    <!--/ Transactions -->
