<div class="container">
    <div class="row">
        @foreach (var dt in Model)
        {
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">

                        <a href="/Documents/XemBaoCao/@dt.GraduationReportID"
                           class="image">
                            <img class="pic-1" src="~/Content/images/AnhBaoCao/@dt.Image">

                        </a>
                        @*<span class="product-sale-label">hot</span>
                            <span class="product-discount-label">-33%</span>*@
                    </div>
                    <div class="product-content">
                        @*<ul class="rating">
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star disable"></li>
                            </ul>*@

                        <div class="text">
                            <a href="/Documents/CheckTypeFile/@dt.GraduationReportID"> @dt.GraduationReportName.ToUpper()</a>
                        </div>
                        @*<div class="product-button-group">
                                <a class="product-like-icon" href="#"><i class="fas fa-heart"></i></a>
                                <a class="add-to-cart" href="#"><i class="fa-solid fa-eye"></i>XEM NGAY</a>
                                <a class="product-compare-icon" href="#"><i class="fa-solid fa-share-from-square"></i></a>
                            </div>*@

                    </div>
                </div>
            </div>
        }
    </div>
</div>
