
@using (Html.BeginForm("SearchCategory", "Home", FormMethod.Get, new { @class = "form" }))
{
    <div class="input-group">
        <input type="text" class="form-control searchInput" value="@ViewBag.tukhoa" name="searchString" placeholder="NHẬP TÊN BÁO CÁO CẦN TÌM..." style="border-radius : 5px 0 0 5px ; background :#fff;">
        <div class="input-group-append options">

          

            @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "btn btn-info dropdown-toggle text-uppercase" })

          
        </div>
        <div class="input-group-append button">
            <input class="btn btn-secondary" type="submit" value="TÌM BÁO CÁO" style="border-radius :0 5px 5px 0">


        </div>
    </div>

}