

<style>
    .file {
        flex-wrap: wrap;
        display: flex;

      
        justify-content: space-around;
      
    }


    .btn-info {
        border-radius: 10px;
        background: #007bff;
        color: #fff;
    }
    .fit {
        width: 330px;
        border: none;
        height: 45px;
    }




</style>
@using (Html.BeginForm("SearchCategory", "Home", FormMethod.Get, new { @class = "" }))
{
    <div class="input-group file">
        <div class="fit">
            <input type="text" class="form-control searchInput fit" value="@ViewBag.tukhoa" name="searchString" placeholder="NHẬP TÊN BÁO CÁO CẦN TÌM..." style=" background :#fff; text-align: center">
        </div>
       
        <div class="input-group-append options fit">

            @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "btn btn-info dropdown-toggle text-uppercase fit" })

        </div>
        <div class="input-group-append fit">
            <input class="btn btn-secondary fit" type="submit" value="TÌM BÁO CÁO" >
        </div>
    </div>

}