@*@using (Html.BeginForm("SearchCategory", "Home", FormMethod.Get, new { @class = "form-inline" }))
    {
    <div class="form-group">
        <label>Từ khóa: </label>
        <input type="Text" class="form-control mx-sm-3" value="@ViewBag.tukhoa" name="searchString" placeholder="Nhập tên báo cáo cần tìm...">
        <label>Khoa - viện:</label>@Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
        <input type="submit" class="btn btn-danger" value="Tìm kiêm">
    </div>

    }*@
@using (Html.BeginForm("SearchCategory", "Home", FormMethod.Get, new { @class = "form" }))
{
    <div class="input-group">
        <input type="text" class="form-control searchInput" value="@ViewBag.tukhoa" name="searchString" placeholder="Nhập tên báo cáo cần tìm..." style="border-radius : 5px 0 0 5px ; background :#fff;">
        <div class="input-group-append options">

            @*<select class="btn btn-secondary dropdown-toggle" name="scp.scps" id="exlidSearchIn">
            <option selected="selected">Chọn Khoa - Viện</option>


        </select>*@

            @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "btn btn-info dropdown-toggle" })

            @*@Html.DropDownList("YearID", null, htmlAttributes: new { @class = "btn btn-info dropdown-toggle" })*@
        </div>
        <div class="input-group-append button">
            <input class="btn btn-secondary" type="submit" value="Tìm báo cáo " style="border-radius :0 5px 5px 0">


        </div>
    </div>

}