
<div class="shuffle-btn-group">
    @*<label class="active" for="all">
            <input type="radio" name="shuffle-filter" id="all" value="all" checked="checked">Show All
        </label>
        <label for="commercial">
            <input type="radio" name="shuffle-filter" id="commercial" value="commercial">Commercial
        </label>
        <label for="education">
            <input type="radio" name="shuffle-filter" id="education" value="education">Education
        </label>
        <label for="government">
            <input type="radio" name="shuffle-filter" id="government" value="government">Government
        </label>
        <label for="infrastructure">
            <input type="radio" name="shuffle-filter" id="infrastructure" value="infrastructure">Infrastructure
        </label>
        <label for="residential">
            <input type="radio" name="shuffle-filter" id="residential" value="residential">Residential
        </label>*@
    @foreach (var dt in ViewBag.detai)
    {
    <label for="@dt.FacultyName">
        <input type="radio" name="shuffle-filter" id="@dt.FacultyName" value="@dt.FacultyName">@dt.FacultyName
    </label>
    }

</div>