
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container">
    <div class="row" style="margin:12px 12px">
        <div class="col-xs-12 col-md-12">


            <div class="col-xs-12 col-sm-12 col-md-12 nd-tintuc-phai">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="/gioi-thieu">Giới thiệu</a></li>
                        <li class="active loaibdx breadcrumb-item">TỔNG QUAN</li>
                    </ol>
                </nav>

              

                <div class="noidungbaidang">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <strong>1. Nhận diện</strong><br>
                            »&nbsp; <strong>Logo</strong>
                            <div style="text-align: center;">
                                <strong><img alt="" src="https://cdn.haitrieu.com/wp-content/uploads/2021/12/Logo-DH-Thu-Dau-Mot-TDMU.png" style="width: 400px; margin-top : 10px" class="img-responsive"></strong>
                            </div>
                            »&nbsp; <strong>Tên trường</strong><br>
                            -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tiếng Việt: Trường Đại học Thủ Dầu Một<br>
                            &nbsp; &nbsp; &nbsp; &nbsp; Viết tắt: ĐH TDM
                            <div>
                                -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tiếng Anh: Thu Dau Mot University
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp; Viết tắt: TDMU<br>
                            »&nbsp; <strong>Loại hình trường: </strong>Công lập<br>
                            »&nbsp; <strong>Cơ quan chủ quản: </strong>Ủy ban Nhân dân tỉnh Bình Dương<br>
                            &nbsp;
                        </div>
                        <div class="col-sm-12 col-md-6" style="margin-top:5px;">
                            <div class="alert alert-info" style="font-size:0.95em;">
                                Các nhà địa danh học giải thích <strong>Thủ Dầu Một</strong> là cụm từ ghép: <i>Thủ, Dầu, Một</i>. <strong>Thủ</strong> theo âm Hán – Việt là giữ, kiểm soát, nói về một đồn binh trấn thủ canh giữ vùng đất, cũng có thể là nói về vị trí đứng đầu, thủ phủ một đơn vị hành chính; <strong>Dầu</strong> tên một loài thảo mộc đặc trưng của vùng đất; <strong>Một</strong> chỉ cây dầu lớn (duy nhất), mọc vượt lên trên, nằm bên cạnh đồn binh trấn thủ. Thủ Dầu Một đầu tiên là địa danh vùng đất rộng lớn ở lưu vực các sông: sông Bé, sông Đồng Nai, sông Sài Gòn, sông Thị Tính (tổng Bình An thời nhà Nguyễn), rồi là địa danh chỉ các đơn vị hành chính các cấp hạt Thủ Dầu Một (1869), tỉnh Thủ Dầu Một (1899). Vùng đất Thủ Dầu Một xưa có vị trí chiến lược quan trọng cho cả vùng miền Đông Nam Bộ. Trong chuyển biến kinh tế, xã hội thời hiện đại, vùng đất Thủ Dầu Một có nhiều thay đổi về hành chính như sáp nhập thành tỉnh Thủ Biên (1945-1954) hay chia tách thành Bình Dương (1956), rồi sáp nhập thành tỉnh Bình Thủ, Sông Bé và trở lại thành tỉnh Bình Dương, Bình Phước (1997). Tên gọi <i>Thủ Dầu Một</i> không chỉ là địa danh ghi dấu ấn lịch sử hàng trăm năm, mà còn là một biểu tượng văn hóa và phát triển, một giá trị lịch sử, văn hóa to lớn của tỉnh Bình Dương, của miền Đông Nam Bộ.<br>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                    <div style="text-align: justify;">
                        <strong>2. Lịch sử hình thành và phát triển</strong><br>
                        Tiền thân của Trường là Cao đẳng Sư phạm Bình Dương - một cơ sở đào tạo sư phạm uy tín của tỉnh Bình Dương, cung cấp đội ngũ giáo viên có chuyên môn, am tường nghiệp vụ giảng dạy và có tâm huyết với thế hệ trẻ.<br>
                        <br>
                        Ngày 24 tháng 6 năm 2009, Đại học Thủ Dầu Một được thành lập theo Quyết định số 900/QĐ-TTg của Thủ tướng Chính phủ. Sứ mệnh của Trường là đào tạo nhân lực có chất lượng phục vụ phát triển kinh tế - xã hội và hội nhập quốc tế của tỉnh Bình Dương, miền Đông Nam Bộ - vùng kinh tế trọng điểm phía Nam và trở thành trung tâm tư vấn nghiên cứu trong khu vực.<br>
                        <br>
                        Trường Đại học Thủ Dầu Một vinh dự là thành viên của tổ chức CDIO&nbsp; thế giới (từ năm 2015); Là thành viên liên kết của Hiệp hội các trường đại học Đông Nam Á – AUN (từ năm 2017). Tháng 11/2017, trường đạt Chuẩn kiểm định chất lượng giáo dục quốc gia. Tháng 10/2019, trường tiến hành đánh giá ngoài chương trình đào tạo theo chuẩn kiểm định của Bộ Giáo dục và Đào tạo, kết quả đến tháng 4 năm 2021 trường có 11 ngành đạt chuẩn. Tháng 12/2019, trường đánh giá ngoài 4 chương trình đào tạo theo chuẩn AUN-QA, kết quả đạt chuẩn 4 ngành. Tháng 8/2020, trường đạt chuẩn 4 sao UPM (University Performance Metrics).<br>
                        &nbsp;<br>
                        <strong><em>Về nhân sự</em></strong><strong>,</strong>&nbsp;trường hiện có đội ngũ 775 cán bộ - viên chức, trong đó có 22 GS-PGS, 135 TS, 557 ThS (106 NCS),… Bộ máy trường gồm Hội đồng trường, Ban Giám hiệu, Hội đồng Khoa học và Đào tạo, 07 khoa đa ngành, 03 viện đa chức năng, 2 viên nghiên cứu, 14 phòng ban chức năng, 11 trung tâm.&nbsp;Song song với việc xây dựng đội ngũ cán bộ khoa học cơ hữu, nhà trường được sự cộng tác hỗ trợ của nhiều nhà khoa học có trình độ chuyên môn cao thuộc Đại học Quốc gia Thành phố Hồ Chí Minh, Đại học Quốc gia Hà Nội và các trường đại học uy tín trong và ngoài nước…<br>
                        <br>
                        <strong><em>Về đào tạo</em>,</strong>&nbsp;trường đang đào tạo 50 chương trình đại học, 11 chương trình thạc sĩ, 1 chương trình tiến sĩ, thuộc các lĩnh vực kinh tế, kỹ thuật công nghệ, khoa học tự nhiên, khoa học xã hội nhân văn, ngoại ngữ, sư phạm. Quy mô của trường là 20.000 sinh viên, học viên sau đại học. Trường đã từng bước hoàn thiện lộ trình xây dựng chương trình đào tạo, đổi mới phương pháp giảng dạy theo triết lý giáo dục hoà hợp tích cực, dựa trên sáng kiến CDIO, đáp ứng chuẩn AUN-QA.&nbsp;<br>
                        <br>
                        <strong><em>Về nghiên cứu khoa học</em>,</strong>&nbsp;thực hiện chiến lược xây dựng trường thành trung tâm nghiên cứu, tư vấn có uy tín, trường đang triển khai 4 đề án nghiên cứu trọng điểm là Đề án nghiên cứu về Đông Nam Bộ, Đề án nghiên cứu Nông nghiệp chất lượng cao, Đề án nghiên cứu Thành phố thông mình Bình Dương, Đề án nghiên cứu Chất lượng giáo dục. Các đề án, công trình nghiên cứu khoa học được thực hiện theo hướng gắn kết chặt chẽ giữa nghiên cứu với ứng dụng, giữa đào tạo với sử dụng nguồn nhân lực theo yêu cầu công nghiệp hóa, hiện đại hóa. Hai năm liên tục, trường đều nằm trong top 50 cơ sở giáo dục có công bố quốc tế tốt nhất Việt Nam (vị trí thứ 42 năm 2018 và vị trí thứ 27 năm 2019). Năm 2021, trường xếp hạng 24/179 cơ sở giáo dục đại học tại Việt Nam theo bảng xếp hạng của Webometrics.<br>
                        <br>
                        <strong><em>Về hợp tác quốc tế</em>,</strong>&nbsp;trường đã thiết lập quan hệ hợp tác, liên kết đào tạo với hơn 60 đơn vị giáo dục trên thế giới; đồng thời ký kết hợp tác cung ứng lao động chất lượng cao cho các doanh nghiệp nước ngoài đang đóng trên địa bàn tỉnh Bình Dương. Bên cạnh đó, từ năm 2010, trường hỗ trợ đào tạo cho các sinh viên nước Cộng hòa Dân chủ Nhân dân Lào theo thỏa thuận hợp tác giữa tỉnh Bình Dương và tỉnh Champasak, cụ thể là đào tạo nguồn nhân lực ở hai lĩnh vực kinh tế và công nghệ thông tin.<br>
                        <strong>3. Cơ sở đào tạo</strong><br>
                        »&nbsp;<strong>Cơ sở tại Thành phố Thủ Dầu Một:&nbsp;</strong>số 6 Trần Văn Ơn, P.Phú Hòa, Tp.Thủ Dầu Một, tỉnh Bình Dương. Khuôn viên trường rộng 6,74 ha. Đây là nơi học tập, nghiên cứu của gần 19.000 CB-GV, SV của trường.<br>
                        »&nbsp;<strong>Cơ sở tại Thị xã Bến Cát</strong>: tọa lạc tại Khu công nghiệp Mỹ Phước, Bến Cát với diện tích 57,6 ha được đầu tư xây dựng hiện đại, tích hợp nhiều công năng phục vụ hiệu quả công tác đào tạo, nghiên cứu của trường trong tương lai.
                    </div>

                </div>
            </div>
            </div>
</div>
</div>