@using QuanLyDeTaiBaoCaoTotNghiep.Models;
@using PagedList.Mvc;


@model PagedList.PagedList<GraduationReport>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bcgd" style="margin-top : 20px">

    <h5 class="text-center">BÁO CÁO MỚI NHẤT</h5>
    <p>Tìm thấy @ViewBag.sl báo cáo</p>
</div>

<div class="container">
    <div class="row">
        @foreach (var dt in Model)
        {
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="/Documents/XemBaoCao/@dt.GraduationReportID">
                            <img src="~/Content/images/AnhBaoCao/@dt.Image">
                        </a>

                    </div>
                    <div class="product-content">
                        <div class="text">
                            <a href="/Documents/XemBaoCao/@dt.GraduationReportID"> @dt.GraduationReportName.ToUpper()</a>
                        </div>


                    </div>
                </div>
            </div>
        }
    </div>
</div>


<div class="list">
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", "Documents", new { page = page }))
    </div>
</div>
<style>
    .MenuTrang {
        margin-top: 500px;
        display: inline;
        text-align: center;
        width: 100%;
    }
</style>