
@{
    ViewBag.Title = "XemBaoCao";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<script src="~/ViewerJS/compatibility.js"></script>
<link href="~/ViewerJS/example.local.css" rel="stylesheet" />
<script src="~/ViewerJS/pdf.js"></script>
<script src="~/ViewerJS/pdf.worker.js"></script>
<script src="~/ViewerJS/pdfjsversion.js"></script>
<script src="~/ViewerJS/text_layer_builder.js"></script>
<script src="~/ViewerJS/ui_utils.js"></script>
<script src="~/ViewerJS/webodf.js"></script>

<style>
    .bgn {
        background: #005180;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        /* background: #282f3a; */
        color: #fff;
        line-height: 2.5rem;
        margin: -12px -12px 10px -12px;
        border-radius: 10px 10px 0 0;
    }

    /*        body, html, p {
                font-family: "Montserrat", sans-serif;
            }
    */


    .float-lg-none {
        scroll-behavior: smooth;
        height: fit-content;
    }

    .media-body a {
        font-family: 'Segoe UI';
        font-size: 15px;
        font-weight: 500;
        text-transform: capitalize;
    }

    .media-body {
        margin: 5px;
    }

    .header-one .logo-area {
        padding-top: 20px;
    }

    .logo img {
        width: 120px;
        height: auto;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://trungthang02.github.io/test/bc.css">
<div class="content-wrapper">

    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <div>


                </div>
                <div class="row">
                    <div class="col-lg-9">
                        <div class="display-4 text-capitalize mb-2 font-weight-bold" style="color:#333">@Model.GraduationReportName</div>
                        <div class="row">
                            <ul class="list-inline col-12 d-flex justify-content-between flex-wrap mb-0">


                                <li class="list-inline-item">
                                    <i class="ti-user icon-sm text-success" style="vertical-align: -2px;"></i>
                                    Người đăng: <a href="#" class="text-capitalize">@Model.Author</a>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-time icon-sm text-success" style="vertical-align: -2px;"></i>
                                    Ngày đăng: @Model.UploadDate
                                </li>
                            </ul>
                        </div>


                        @*<div class="page_padding product_list_sp">
            <div class="placeSlide_main">
                <div class="placeSlide_with">

                    <div class="embed-responsive-item" id="myFrame">
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.8/pdfobject.min.js" integrity="sha512-MoP2OErV7Mtk4VL893VYBFq8yJHWQtqJxTyIAsCVKzILrvHyKQpAwJf9noILczN6psvXUxTr19T5h+ndywCoVw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                        <script type="text/javascript">
                        if (PDFObject.supportsPDFs) {
                            var path = '/File/@Model.UrlFile';
                            PDFObject.embed(path, '.placeSlide_with').style.height = "800px";



                        } else {
                            alert("Trình duyệt không hỗ trợ")
                        }
                        </script>

                    </div>
                    <div class="clr"></div>
                </div>


            </div>
        </div>*@


                        @*<iframe id="myFrame" onload="resizeIframe(this)" class="embed-responsive-item" src="https://localhost:44337/File/@Model.UrlFile" style="width:100%; height:800px; border: 1px #ddd solid; border-right: 3px #ddd solid"></iframe>*@

                        <iframe src='https://view.officeapps.live.com/op/embed.aspx?src=https://localhost:44337/File/@Model.UrlFile' width="100%" height="800px" frameborder='0'></iframe>
                        @*<iframe src='https://view.officeapps.live.com/op/embed.aspx?src=http://trungthangnckh-001-site1.dtempurl.com/File/@Model.UrlFile' width="100%" height="800px" frameborder='0'></iframe>*@
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-danger btn-rounded mb-3 btn-icon-text btn-block text-capitalize"><i class="btn-icon-prepend ti-download"></i><a href="/File/@Model.UrlFile" style="color:#fff">Tải xuống tài liệu</a></button>
                        <div class="relate-doc col-lg-12 col-sm-5 float-lg-none float-sm-left">
                            <div class="bgn">
                                <div class="glow"></div>BÁO CÁO MỚI NHẤT
                            </div>


                            @Html.Action("TheoTacGia", "Documents")

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

